.app {
  /* padding-bottom: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: url('../../public/img/Resized_EveningSky.JPG') center fixed; */
  background-color: rgba(13,24,44,1);
}

.app-form {
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.app-form-label {
  align-self: center;
}

.movie-cnt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
