.card{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(239,137,113,1) 0%, rgba(175,115,113,1) 35%, rgba(171,95,97,1) 63%, rgba(124,84,106,1) 85%, rgba(13,24,44,1) 100%);
  color: white;
}

.card-img-cnt{
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
}

.card-img{
  border: #0d182c solid 1px;
  border-radius: 2%;
}

.card-body h2{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.2em;
}

card-title{
  font-size: 8rem;
  margin-bottom: 0.2em;
}