.card{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('../../public/img/Resized_EveningSky.JPG') center fixed;
  color: white;
}

.card-img-cnt{
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.card-img{
  border: #0d182c solid 1px;
  border-radius: 2%;
}

.card-body h2{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.2em;
}

card-title{
  font-size: 8rem;
  margin-bottom: 0.2em;
}